PORT=3000
NODE_ENV=development

# MySQL Database Configuration
DB_HOST=zephyr.proxy.rlwy.net
DB_PORT=27654
DB_NAME=order_management
DB_USER=root
DB_PASSWORD=xDvHqbAMQihVyrDQGXhyFWRzyvFSnPrF

# JWT Authentication
JWT_SECRET=supersecret_jwt_key_orders_api_2026_change_in_production
JWT_EXPIRES_IN=1d
